/* Colors from https://github.com/jan-warchol/selenized/blob/master/the-values.md */
@viewport { zoom:1.0; width:device-width; }
html { background-color:#fbf3db; color:#53676d; }
body {
	max-width:49em;
	margin-left:auto;
	margin-right:auto;
	padding-left:0.5em;
	padding-right:0.5em;
}
h1.Ch { font-size:150%; color:#3a4d53;}
details{ background-color:#d5cdb6; color:#3a4d53; padding:10px;}
summary{ color:#c44392;}
div.toc ol li { list-style-type:none; } /* Navigation in EPUB2 */
nav#navtoc ol li { list-style-type:none; } /* Navigation in EPUB3 */
div.topnav {
	display:block;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
}
div.topnav li a:hover { color:#d5cdb6; background:#53676d; }
div.topnav li, div.topnav p {
	display:inline;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:18px;
	padding-right:18px;
	font-weight:bold;
}
div.topnav ul {
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	border-width:0px;
	background-color:#ece3cc;
}
p { max-width:38em; text-align:justify; }
.toc-title { max-width:30em; color:#3a4d53; }
div.toc { padding-bottom:4px; }
div.toc li {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:18px;
	padding-right:18px;
	font-weight:bold;
}
div.toc ul {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#ece3cc;
}
strong.paragraph { font-weight:bold; margin-right: 10px } /* paragraph titles */
p.paragraph { text-indent: 0px; } /* paragraphs with title */
table { margin-left:20px; border-collapse:collapse; }
table, th, td { border:2px solid;}
td { padding-right:10px; padding-left:10px;}
td p { padding:0; margin:0; }
ul p { max-width:35em; }
li p { max-width:35em; }
a { color:#0072d4; }
a.anchor { opacity:0.2; }
a.anchor:hover { opacity:1.0; }
pre, code { font-family:monospace; }
div.goal-code { background-color:#ece3cc;  }
div.code { background-color:#ece3cc;  }
div.goal-code pre { overflow-x:auto; font-size: 0.95em }
div.code pre { overflow-x:auto; font-size: 0.95em }
.adverb { color:#ad8900; }
.comment { color:#909995; }
.dyad { color:#489100; }
.escape { color:#dd0f9d; }
.lambda { color:#d2212d; }
.monad { color:#0072d4; }
.number { color:#009c8f; }
.rx { color:#009c8f; }
.rxsym { color:#d2212d; }
/*.sep { font-weight:bold; }*/
.stmt { color:#ad8900; }
.special { color:#d2212d; }
.string { color:#009c8f; }
.xyz { color:#d2212d; }
