/* Colors from https://github.com/jan-warchol/selenized/blob/master/the-values.md */
@viewport { zoom:1.0; width:device-width; }
html { background-color:#fbf3db; color:#53676d; }
body {
	max-width: 46em;
	margin-left:auto;
	margin-right:auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
p { max-width:38em; text-align:justify; }
ul p, li p { max-width:35em; }
.toc-title { max-width: 30em; color: #3a4d53; }
div.toc {
  text-align:center;
  /*padding-top:4px;*/
  padding-bottom:4px;
}
div.toc li {
  display:inline-block;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:18px;
  padding-right:18px;
  font-weight:bold;
}
div.toc ul {
  list-style-type:none;
  text-align:center;
  margin:0;
  padding:0;
  background-color:#ece3cc;
}
a { color: #0072d4; }
span.escape { color: #d2212d; }
span.comment { color: #909995; }
span.macro { color: #ad8900; }
span.ppmacro { color: #c25d1e; }
span.code { font-family: monospace; }
span.option { color: #489100; }
span.frundis { color: #489100; font-style: italic; }
span.name { font-style: italic; }
div.frundis-code { font-family: monospace; background-color: #ece3cc; font-size: 90%; }
div.frundis-code pre { overflow-x: auto; }
