<footer class="footer">
<hr><p>This website’s content is licensed under
<a href="https://creativecommons.org/licenses/by/4.0/">cc-by</a>
or the ISC license, as you wish. Contact:
<code class="email"><span class="string">&#34;@&#34;</span><span class="adverb">/</span>(<span class="string">&#34;anaseto&#34;</span><span class="sep">;</span><span class="string">&#34;.&#34;</span><span class="adverb">/</span><span class="dyad">!</span><span class="string">&#34;bardinflor perso aquilenet fr&#34;</span>)</code>.</p>
</footer>
